@font-face {
	font-family: "WebMejiro";
	src: url('../fonts/Mejiro-Regular.woff2') format('woff2'),
	url('../fonts/Mejiro-Regular.woff') format('woff'),
	url('../fonts/Mejiro-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "WebMejiro";
	src: url('../fonts/Mejiro-Bold.woff2') format('woff2'),
	url('../fonts/Mejiro-Bold.woff') format('woff'),
	url('../fonts/Mejiro-Bold.ttf') format('truetype');
	font-weight: bold;
    font-style: normal;
}

body{
	font-family: "WebMejiro", 'Roboto', 'M PLUS 1p', 'Noto Sans Japanese', "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", "MS Gothic", sans-serif;
}
h1{
	font-weight: bold;
}
.mejiro{
	font-size: 4rem;
}
.container{
	padding: 3rem 1rem;
}
#sample{
	width: 90%;
	max-width: 360px;
}
ol, ul {
    display: inline-block;
	text-align: left;
}
.card{
	margin: 0.6rem 0;
}